{% extends "staff_data/index.html" %}




{% block body-block %}
<title>Staff Page</title>
<h1>Staff Page</h1>
{% load staticfiles %}

<img src="{% static 'staff_data/logo.jpg' %}"> </img>



<table>
<tr>
    <th>username</th>
    <th>email</th>
</tr>
        {% if staff_data %}
            {% for entry in staff_data%}
                <tr>
                    <td>  {{ entry.id }} </td>
                    <td> {{ entry.staff_id }} </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td> EMPTY </td>
                <td> EMPTY </td>
            </tr>
        {% endif %}

</table>
{% endblock %}